@font-face
{
    font-family: "Roboto Mono";
    src: url("assets/fonts/Roboto_Mono/static/RobotoMono-Regular.ttf");
}
@font-face
{
    font-family: "Robot Mono Bold";
    src: url("assets/fonts/Roboto_Mono/static/RobotoMono-Bold.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
  }
$background-color: #0666b2;
$background-color-dark: #05477f;
$background-phone: #48a6fe;
$grey: #f8f9fa;
$black: #3f464f;
.flex
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.phone_base
{
    
    width: 30rem;
    height: 60rem;
    border: 0.5rem solid #f8f9fa;
    border-radius: 40px;
    overflow: hidden;
}
.line
{
    display: block;
    width: 8rem;
    height: 0.3rem;
    background-color: $background-color-dark;
    margin-left: auto;
    margin-right: auto;
    border: 1 solid $background-color-dark;
    border-radius: 2rem;
}

html {
    font-size: 62.5%;
}
body
{
    background-color: #0666b2; 
    font-size: 20px;
    font-family: "Roboto Mono";
    color: $black;
    .container
    {
        margin-top: 10rem;
        height: 60rem;
        @extend .flex;
        overflow:hidden;
        
    }
    .container_phone
    {
        @extend .phone_base;
        position:relative;
    }
   .phone
   {
       
       background:$background-phone;
       position: absolute;
       z-index: 0;
       width: 100%;
       border: 0.5rem solid #f8f9fa;
       border-radius: 30px;
       height: 100%;
       
        .circle
        {
            @extend .flex;
            margin-top: 20rem;
            margin-bottom: 3rem;
            .fa-circle
            {
                margin-left: 1.5rem;
                font-size: 10px;
                color: $grey;
                opacity: 50%;
                transform: scale(1) ;
                // &:hover
                // {
                //     transform: scale(1.5);
                //     color: $background-color-dark;
                // }
            }
        }
   }

   .numbers
   {
        .numbers-level1
        {
            @extend .flex;
        }
        .numbers-level2
        {
            @extend .flex;
        }
        .numbers-level3
        {
            @extend .flex;
        }
        .numbers-level4
        {
            @extend .flex;
                .fa
                {
                    margin-top: 35px;
                    color: $grey;
                    transition: all 400ms;
                    transform: scale(1);
                    &:hover 
                    {
                        transform: scale(0.9);
                        opacity: 50%; 
                    }
                }
                .fa-times
                {
                    
                    margin-left:30px;
                }
                .fa-arrow-left
                {
                    margin-top: 35px;
                    margin-right:30px;
                }   
        }
        .number
        {
            background-color:#f8f9fa;
            border : 1px solid #f8f9fa;
            border-radius: 50%;
            width: 5rem;
            height: 5rem;
            box-shadow: 5px 5px 7px #3984CB;
            margin-top: 2rem;
            margin-left: 1rem;
            margin-right: 1rem;
            transition: all 400ms;
            transform: scale(1);
            p{
                text-align: center;
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
            button {
                border:none;
                background-color: transparent;
                outline: none;
                margin-left: 1.8rem;
                margin-top: 1rem;
                font-size: 20px;
                font-family: "Roboto Mono";
            }
            &:hover 
            {
                transform: scale(0.9);
                box-shadow: 0px 0px 15px #3984CB;
                background-color: #3984CB;
                opacity: 80%;
                border : 1px solid  #3984CB;  
            }
            &:hover button 
            {
                color: $grey;
            }
            
        } 
        .border-end
        {
           @extend .line; 
           margin-top: 5rem; 
        }
   }
    .phone-white
    {
        
        background-color: $grey;
        width: 100%;
        z-index: 1;
        position: absolute;
        border: 0.5rem solid #f8f9fa;
    border-radius: 30px;
       
        
        .mark {
            text-align: center;
            font-size: 5rem;
        }
        span {
            font-family:"Robot Mono Bold";
            font-weight: 1000;
        }
        img
        {
            width: 10rem;
            height:10rem;
            display: block ;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10rem;
        }
        .unclock
        {
            
            button
            {
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: 25rem;
                opacity: 20%;
                text-align:center;
                font-size: 1.6rem;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 35px;
                padding-right: 35px;
                border-radius: 20px;
                
            }

        }
        .border-end
        {
           @extend .line; 
           margin-top: 2rem; 
        }
    }
       
}